gobject-skeleton.c
gobject-skeleton.h
gibbon
gibbon.exe
gibbon-convert
gibbon-convert.exe
gibbon.rc
test_*
!test_*.sh
gibbon-gmd-lexer.c
gibbon-gmd-parser.c
gibbon-gmd-parser.h
gibbon-gmd-parser.output
gibbon-java-fibs-lexer.c
gibbon-java-fibs-parser.c
gibbon-java-fibs-parser.h
gibbon-java-fibs-parser.output
gibbon-jelly-fish-lexer.c
gibbon-jelly-fish-parser.c
gibbon-jelly-fish-parser.h
gibbon-jelly-fish-parser.output
